<h1>Listado de Estudiantes</h1>

<ng-container *ngIf="isLoading; else notLoading">
    <p>Cargando, por favor espere...</p>
</ng-container>

<ng-template #notLoading>
    <form [formGroup]="alumnForm" (ngSubmit)="onSubmit()" class="w-50">
        <div class="row">
            <div class="col-4">
                <mat-form-field class="w-100">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre">
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-form-field class="w-100">
                <mat-label>Apellido</mat-label>
                <input matInput formControlName="apellido">
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field class="w-100">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="estado">
                        <mat-option value="Aprobado">Aprobado</mat-option>
                        <mat-option value="Desaprobado">Desaprobado</mat-option>
                        <mat-option value="Ausente">Ausente</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            
            <div class="col-12 d-flex justify-content-center">
                <button type="submit" mat-flat-button>Guardar</button>
            </div>


        </div>
    </form>

    <app-alumnos-table
    [dataSource]="alumnos"
    (editAlumn)="onEditAlumn($event)"
    (deleteAlumn)="onDeleteAlumn($event)"
  ></app-alumnos-table>
</ng-template>
