<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

  <!-- ID -->
  <ng-container matColumnDef="demo-id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Nombre -->
  <ng-container matColumnDef="demo-nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <!-- Apellido -->
  <ng-container matColumnDef="demo-apellido">
    <th mat-header-cell *matHeaderCellDef> Apellido </th>
    <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
  </ng-container>

  <!-- Estado -->
  <ng-container matColumnDef="demo-estado">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let element" [ngClass]="StateBgColor(element.estado)">
      {{element.estado}}
    </td>
  </ng-container>

  <!-- Acciones -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">
      <button [routerLink]="[element.id]" mat-icon-button>
        <mat-icon>visibility</mat-icon>
      </button>
      <button [disabled]="(authUser$|async)?.role != 'admin'" (click)="onEdit(element)" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button [disabled]="(authUser$|async)?.role != 'admin'" (click)="onDelete(element.id)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>