

  <mat-toolbar>
    <button 
        (click)="drawer.toggle()"
        mat-icon-button 
        class="example-icon" 
        aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Interfaz</span>

  </mat-toolbar>


<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <app-nav-menu/>
    </mat-drawer>
    
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  
</mat-drawer-container>

