
<form [formGroup]="loginForm" class="formgrid grid" >
    <h1>Iniciar Sesión</h1>

    <mat-form-field class="col-12">
        <mat-label>Email</mat-label>
        <input formControlName="email" type="text" matInput placeholder="user@example.com" />
    </mat-form-field>
    <mat-form-field class="col-12">
        <mat-label>Contraseña</mat-label>
        <input formControlName="password" type="password" matInput placeholder="*********" />
    </mat-form-field>

    <div class="col-12 d-flex justify-content-evenly">
        <button mat-raised-button color="primary" type="button">Registrarse</button>
        <button mat-raised-button color="primary" type="button" (click)="login()">Iniciar Sesión</button>
    </div>
</form>